h1 {
    color: red;
    -webkit-text-fill-color: red; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-family: Arial;
    font-size: 50px;
    font-weight: bolder;
}

body {
    text-align: center;
    background-image: url('Images/Soham.jpg');
    background-repeat: repeat;
}

img {
    margin-bottom: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.looklink {
    text-decoration: underline;
    color: blue;
}

.looklink:hover{
    cursor: pointer;
}

.nav{
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 10px 10px;
    text-align: center;
    background-color: white;
    width: 360px;
}

#container{
    text-align: center;
}